:root {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: auto;
}

#page {
    box-sizing: border-box;
    width: 1120px;
    margin-top: 88px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 137px;
    
}


.firsttext {
    color: red;
    font-weight: bolder;
    margin-bottom: 8px;
    
}

h1 {
    margin-bottom: 40px;
}


#descubra hr {
    margin-top: 40px;
    margin-bottom: 64px;
}

#descubra p {
    text-align: justify;
}


#destinoone img {
    margin-top: 64px;
}

#destinotwo img {
    margin-top: 48px;
}

#destinothree img {
    margin-top: 48px;
}

.historia {
    color: rgb(3, 3, 133);
    font-weight: bolder;    
}

#destinothree ul {
    font-weight: bolder;
}

#casais {
    color: purple;
}

#familias {
    color: rgb(255, 0, 89);
}

#orcamentos {
    color: rgb(224, 152, 16);
}

h1, h2, h3 {
    font-size: 28px;
}

#destinothree hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

#rodape {
    text-align: center;
}

footer {
    text-align: center;
    margin-bottom: 48px;
}

